.country{
    background: rgb(233, 182, 88);
    border: 2px solid rgb(219, 105, 105);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}
.country img {
    width: 200px;
    border-radius: 10px;
}